<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinergiya</title>
    <link rel="stylesheet" href="E:\projects\github\newspaper\newspaper\static\css\bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">  
            <a class="navbar-brand" href="">SNRG</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class ="collapse navbar-collapse" id="navbar"> 
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Contact </a>
                    </li>
                </ul>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <div class="card">
                    <div class="row">
                        <div class="col-8"> 
                            <div class="card-body">
                                <h5 class="card-title">News 1</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <img src="./source/img/image.png" style="height: 200px;" alt="news_1" >
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col col-8">
                        <div class="news row">
                            <div class="col-8">
                                <span>Siyosat</span>
                                <h3>News 2</h3>
                            </div>
                            <div class="col-4">
                                <img src="./source/img/image.png" style="width: 180px;" alt="">
                            </div>
                            
                        </div>
                        <hr class="mt-4">
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col col-4">
            </div>
        </div>
    </div>
    <!-- <script src="./source/js/popper.js"></script> -->
    <script src="./source/js/bootstrap.js"></script>
    <!-- <script src="./source/js/jquery.js"></script> -->
</body>
</html>